<body ng-controller="InitializeForms">

	<div class="row">



		<div class="span12" ng-repeat="docimage in docimages">
			<div class="span6 document-image">
				<img src="{{docimage.url}}"/>
			</div>
			<ul>
			  <div ng-repeat="field in form_definition.fields">
					<div class="span2">
						{{field.desc}}
					</div>
					<div class="span3">
						 <input type="text" name="{{field.name}}"/>
					</div>
					
				</div>
			</ul>

		</div>

		<div class="span6 document-form">
			<form ng-submit="saveInput()">
				<div ng-repeat="field in form_definition">
					<div class="span2">
						{{field.desc}}
					</div>
					<div class="span3">
						 <input type="text" name="{{field.name}}"/>
					</div>
					
				</div>
				<div class="span6">
					<input type="submit" value="Save">
				</div>

				
			</form>
		</div>
	</div>


</body>





