<body ng-controller="InitializeForms" xmlns="http://www.w3.org/1999/html">


<div class="container">
    <form ng-submit="saveInput()">


        <div class="pagination">
            <ul>
                <li><a href="#">Prev</a></li>
                <li ng-repeat="docimage in docimages">
                    <a href="" ng-click="page_selected(docimage.id)">{{$index+1}}</a>
                </li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>

        <div ng-repeat="docimage in docimages" style="clear:right">
            <div id="{{docimage.id}}"  class="document-container">
                <div class="span6 document-image">
                    <img ng-src="{{docimage.url}}"/>
                </div>

                <div class="span4 document-form" >
                    <div ng-repeat="field in form_definition[docimage.id].fields">
                        <label>{{field.desc}}</label>
                        <input type="text" name="{{field.name}}" ng-model="userinput[field.name]"/>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="span12">
                <input type="submit" value="Save">
            </div>

        </div>

    </form>



</div>


</body>





