<body ng-controller="InitializeForms" xmlns="http://www.w3.org/1999/html">


<div class="container ">
    <form ng-submit="saveInput()">

        <div class="top-title">
            Oświadczenia majątkowe posłów na sejm RP
        </div>
        <div class="top-description">
            Aby umożliwić nam przetwarzanie zeznań majątkowych posłów, prosimy o wypełnienie pól na wszystkich stronach, a nastepnie naciśnięcie przycisku wyślij.

        </div>

        <div class="top-bar row">
            <div class="span6"><div id="pagination-bar" class="pagination pagination-right">
                <ul>
                    <li id="link_{{docimage_page.id}}" class="page_link {{docimage_page.button_class}}" ng-repeat="docimage_page in docimages">
                        <a href="" ng-click="page_selected(docimage_page.id)">{{$index+1}}</a>
                    </li>
                </ul>
            </div></div>
            <div class="span2">  <button id="send-button" class="btn btn-primary" type="submit">Wyślij</button></div>
        </div>





        <div ng-repeat="docimage in docimages" >
            <div id="{{docimage.id}}"  class="document-container {{docimage.page_class}}" >
                <div class="span6 document-image">
                    <img ng-src="{{docimage.url}}"/>
                </div>

                <div class="span4 document-form" >
                    <div ng-repeat="field in form_definition[docimage.id].fields">
                        <label>{{field.desc}}</label>
                        <input type="text" name="{{field.name}}" ng-model="userinput[field.name]"/>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="span12">

            </div>

        </div>

    </form>



</div>


</body>





