<body ng-controller="InitializeForms">


	
<form ng-submit="saveInput()">
	<div class="row" ng-repeat="docimage in docimages">
		<div class="span6 document-image">
			<img ng-src="{{docimage.url}}"/>
		</div>
		
		<div class="span4 document-form" style="clear:right">
			<div ng-repeat="field in form_definition[docimage.id].fields">
				 <label>{{field.desc}}</label>
				 <input type="text" name="{{field.name}}" ng-model="userinput[field.name]"/>

			</div>
		</div>	

	</div>

	<div class="row">
		<div class="span12">
			<input type="submit" value="Save">
		</div>
		
	</div>
	
</form>	



</body>





