html,body {
	max-width: 940px;
	height: 100%;
	background-color: #eee;
}

h1 {
	display: none;
}

.lead {
	display: none;
}

.page-header {
	padding: 20px 0 0;
}

.viewport {
	height: 100%;
	max-width: 940px;
}

.container {
	max-width: 940px;
	background: #fff;
	margin-top: 10px;
}

.container-fluid {
	padding: 0;
}

.container-thankyou {
	padding-top: 200px;
	height: 100%;
}

#zoom-button {display: none;}

.btn {
	width: 200px;
}

.document-image {
	background-color: #ddd;
	overflow: hidden;
	height: 1000px;
	cursor: move;
}

.document-image img {
	position: relative;
	top: 0px;
	left: 0px;
}

.document-form {
	padding: 20px;
	border: none;
}

.top-bar {
	margin: 0 auto;
	padding: 15px 0 25px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	position: relative;
}

.top-title {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin-top: 20px;
}

.top-description {
	text-align: center;
	margin-top: 10px;
}

.pagination {
	margin: 0;
}

#pagination-bar {
	text-align: left;
	margin: 0 0 0 10px;
}

#next-button {display: none;}

#send-button {
	margin-top: 0;
}

.hidden-page {
	display: none;
}

.last {
	float: right;
}

textarea {
	word-wrap: break-word;
	height: auto;
	transition: 0.05s;
	-moz-transition: 0.05s;
	-webkit-transition: 0.05s;
	-o-transition: 0.05s;
}

.form {
	width: 90%;
}
