html, body {
    height: 100%;
	background-color: #fff;
}

.viewport {
    height:100%;
}
.container{
	background:#fff;
	margin-top:10px;
}

.container-thankyou {
    padding-top:200px;
    height:100%;
}

.document-image {
	background-color: #ffeeee;
	overflow: hidden;
	max-height: 1000px;
}

.document-form {
	padding:20px;
	border-left:solid 1px #dedeee;
	padding-left:35px;
}

.top-bar {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
    height:20px;
    line-height:20px;
    vertical-align:middle;
    position:relative;


}

.top-title {
    text-align:center;
    font-size:2em;
    font-weight:bold;
    margin-top:20px;
}
.top-description {
    text-align: center;
    margin-top:10px;

}

.pagination {
    margin:0;
}

#send-button {
    margin-top:0;
}

.hidden-page {
    display:none;
}

.last {
	float: right;
}

textarea {
	 word-wrap: break-word;
	 height: auto;
	 transition: 0.05s;
	 -moz-transition: 0.05s;
	 -webkit-transition: 0.05s;
	 -o-transition: 0.05s;
 }
 
.form {
	width: 90%;
}

